p{
    color: black;
    padding: 5%;
    padding: 0%;
}
.col-md-6{
    margin-left: 133%;
    margin-top: -50.5%;
}
.col-md-8{
    margin-left: 30%;
    margin-top: 15%;

}

.heading{
    padding-left: 20%;
    padding-top: 4%;
}

.heading-cover{
    width: 210%;
    height: 200px;
    background-color: black;
    z-index: -1;
    margin-top: -70px;
    margin-left: 10%;
    border-radius: 8px;
}

.image-cover{
    height: 200px;
  width: 200px;
  background-image: url(../img/Annotation\ 2020-08-18\ 215422.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  
  margin-left: 27%;
  margin-top: 0%;
}
